/* You can add global styles to this file, and also import other style files */

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.min-h-1-2 {
  min-height: calc(100vh - 40vh);
}

.min-h-2-3 {
  min-height: calc(100vh - 80vh);
}

.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown.open .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown.open .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown.open .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown.open .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown.open .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown.open .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown.open .dropdown-content {
  display: block;
}
