@if (toastService.getToasts().length) {
  @for (toast of toastService.getToasts(); track $index) {
    <div class="toast">
      <div
        class="alert text-base-100"
        [ngClass]="{
          'alert-info': toast.type === 'info',
          'alert-success': toast.type === 'success',
          'alert-warning': toast.type === 'warning',
          'alert-error': toast.type === 'error'
        }"
      >
        @if (isBigScreen) {
          <mat-icon>
            {{
              toast.type === 'info'
                ? 'info'
                : toast.type === 'success'
                  ? 'check_circle'
                  : toast.type === 'warning'
                    ? 'warning'
                    : toast.type === 'error'
                      ? 'error'
                      : ''
            }}
          </mat-icon>
        }
        <span>{{ toast.message }}</span>
      </div>
    </div>
  }
}
<div class="min-h-screen">
  <router-outlet (activate)="onActivate()"></router-outlet>
</div>
