<div class="flex justify-center items-center my-auto h-full">
  <div class="card w-full max-w-lg">
    <div class="card-body">
      <h2 class="card-title">Login</h2>
      <p>Enter your credentials to access your account.</p>
      <form (ngSubmit)="submit()" [formGroup]="credentials">
        <label class="label">
          <span class="label-text">Email</span>
        </label>
        <input
          class="input input-bordered w-full"
          formControlName="email"
          placeholder="Email"
          type="email"
        />
        @if (getErrorMessage('email')) {
          <div class="text-error text-xs p-1">
            {{ getErrorMessage('email') }}
          </div>
        }

        <label class="label">
          <span class="label-text">Password</span>
        </label>
        <input
          class="input input-bordered w-full"
          formControlName="password"
          placeholder="Password"
          type="password"
        />
        @if (getErrorMessage('password')) {
          <div class="text-error text-xs p-1">
            {{ getErrorMessage('password') }}
          </div>
        }

        <button
          [disabled]="!credentials.valid || isLoggingIn"
          class="btn btn-primary mt-4 w-full"
          type="submit"
        >
          @if (isLoggingIn) {
            <span class="loading loading-spinner"></span>
          }
          Login
        </button>
      </form>
      <div class="text-center mt-4">
        <p class="mb-5">
          Don't have an account?
          <a class="link link-primary" routerLink="/a/register">Register</a>
        </p>
      </div>
    </div>
  </div>
</div>
