<div class="flex justify-center items-center my-auto h-full">
  <div class="card w-full max-w-lg">
    <div class="card-body">
      <h2 class="card-title">{{ 'login.title' | translate }}</h2>
      <p>{{ 'login.credentials-description' | translate }}</p>
      <form (ngSubmit)="submit()" [formGroup]="credentials">
        <label class="label">
          <span class="label-text">{{ 'login.email-label' | translate }}</span>
        </label>
        <input
          [placeholder]="'login.email-placeholder' | translate"
          class="input input-bordered w-full"
          formControlName="email"
          type="email"
        />
        @if (parseErrors('email')) {
          <div class="text-error text-xs p-1">
            {{ parseErrors('email') }}
          </div>
        }
        <label class="label">
          <span class="label-text">{{
            'login.password-label' | translate
          }}</span>
        </label>
        <input
          [placeholder]="'login.password-placeholder' | translate"
          class="input input-bordered w-full"
          formControlName="password"
          type="password"
        />
        @if (parseErrors('password')) {
          <div class="text-error text-xs p-1">
            {{ parseErrors('password') }}
          </div>
        }
        <button
          [disabled]="!credentials.valid || isLoggingIn"
          class="btn btn-primary mt-4 w-full"
          type="submit"
        >
          @if (isLoggingIn) {
            <span class="loading loading-spinner"></span>
          }
          {{ 'login.credentials-submit' | translate }}
        </button>
      </form>
      <div class="text-center mt-4">
        <p class="mb-5">
          {{ 'login.no-account-message' | translate }}
          <a class="link link-primary" routerLink="/a/register">{{
            'login.register-link' | translate
          }}</a>
        </p>
      </div>
    </div>
  </div>
</div>
