<div class="mx-1 sm:mx-3 md:mx-32">
  <app-courses-filter />
  @if (isLoading) {
    <app-loading-bars />
  } @else if (!isLoading && courses.length) {
    <div class="flex flex-col">
      @for (course of courses; track $index) {
        <div class="my-1.5"></div>
        <div
          [routerLink]="course.id"
          class="card lg:card-side bg-base-100 shadow-xl transition duration-150 hover:opacity-75 hover:cursor-pointer hover:scale-105 ease-in-out"
        >
          <div class="card-body">
            <h2 class="card-title">{{ course.title }}</h2>
            <p>{{ course.about }}</p>
          </div>
        </div>
      }
    </div>
  } @else if (!isLoading && !courses.length) {
    <app-feedback-message
      message="No courses were found, try again later."
      title="Nothing found"
      icon="mood_bad"
      showIcon="false"
    />
  } @else {
    <app-feedback-message
      message="An error occurred while trying to fetch the courses, try again later."
      title="Error"
      icon="sick"
      showIcon="false"
    />
  }
</div>
