<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <div class="btn btn-ghost lg:hidden" role="button" tabindex="0">
        <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 6h16M4 12h8m-8 6h16" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
        </svg>
      </div>
      <ul class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52" tabindex="0">
        <li routerLink="/"><a>Home</a></li>
        <li routerLink="/c"><a>Courses</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl" routerLink="/">Your title</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li routerLink="/"><a>Home</a></li>
      <li routerLink="/c"><a>Courses</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    @if (isLoggedIn$ | async) {
      <a class="btn" (click)="logout()">Logout</a>
    } @else {
      <a class="btn" routerLink="/a/login">Login</a>
    }
  </div>
</div>
