<div class="mt-4 lg:mt-0 lg:pl-3 text-left lg:border-l-2 border-l-0 lg:pb-60 lg:flex lg:flex-col lg:flex-grow border-b-2 lg:border-b-0 pb-5">
<h2 class="font-bold text-xl">About</h2>
  <p aria-label="Description" class="font-normal">
    {{ generalMainDocument?.description }}
  </p>

  <div class="flex flex-wrap gap-2 mt-2">
    @for (tag of generalMainDocument?.tags; track $index) {
      <a
        href="https://www.google.com/search?q={{ tag }}"
        target="_blank"
        class="badge badge-ghost badge-md my-1 truncate whitespace-normal min-w-max hover:opacity-75 hover:cursor-pointer hover:scale-95 transition ease-in-out duration-100"
        style="max-width: calc(100% - 0.5rem);"
      >{{ tag }}</a>
    }
  </div>


</div>
