<div class="flex justify-center items-center">
  <div class="card w-full max-w-lg">
    <div class="card-body">
      <h2 class="card-title">{{ 'register.title' | translate }}</h2>
      <p>{{ 'register.credentials-description' | translate }}</p>
      <form (ngSubmit)="submit()" [formGroup]="credentials">
        <label class="label">
          <span class="label-text">{{
            'register.username-label' | translate
          }}</span>
        </label>
        <input
          [placeholder]="'register.username-placeholder' | translate"
          class="input input-bordered w-full"
          formControlName="username"
          type="text"
        />
        @if (getErrorMessage('username')) {
          <div class="text-error text-xs p-1">
            {{ getErrorMessage('username') }}
          </div>
        }
        <label class="label">
          <span class="label-text">{{
            'register.email-label' | translate
          }}</span>
        </label>
        <input
          [placeholder]="'register.email-placeholder' | translate"
          class="input input-bordered w-full"
          formControlName="email"
          type="email"
        />
        @if (getErrorMessage('email')) {
          <div class="text-error text-xs p-1">
            {{ getErrorMessage('email') }}
          </div>
        }
        <label class="label">
          <span class="label-text">{{
            'register.password-label' | translate
          }}</span>
        </label>
        <input
          [placeholder]="'register.password-placeholder' | translate"
          class="input input-bordered w-full"
          formControlName="password"
          type="password"
        />
        @if (getErrorMessage('password')) {
          <div class="text-error text-xs p-1">
            {{ getErrorMessage('password') }}
          </div>
        }
        <label class="label">
          <span class="label-text">{{
            'register.confirm-password-label' | translate
          }}</span>
        </label>
        <input
          [placeholder]="'register.confirm-password-placeholder' | translate"
          class="input input-bordered w-full"
          formControlName="confirmPassword"
          type="password"
        />
        @if (getErrorMessage('confirmPassword')) {
          <div class="text-error text-xs p-1">
            {{ getErrorMessage('confirmPassword') }}
          </div>
        }
        <button
          [disabled]="!credentials.valid || isRegistering"
          class="btn btn-primary mt-4 w-full"
          type="submit"
        >
          @if (isRegistering) {
            <span class="loading loading-spinner"></span>
          }
          {{ 'register.credentials-submit' | translate }}
        </button>
      </form>
      <div class="text-center mt-4">
        <p class="mb-5">
          {{ 'register.existing-account-message' | translate }}
          <a class="link link-primary" routerLink="/a/login">{{
            'register.login-link' | translate
          }}</a>
        </p>
      </div>
    </div>
  </div>
</div>
