<div class="mx-1 sm:mx-3 md:mx-32 lg:mx-60 xl:mx-72 mt-1.5 md:mt-6">
  <div class="flex flex-row justify-between items-center h-full border-b-2">
    <button class="btn btn-ghost text-2xl btn-lg">Account</button>
    <button (click)="loadUser()" class="btn btn-ghost">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  @if (isLoading) {
    <app-loading-bars />
  } @else {
    @if (user$ | async; as user) {
      <app-account-profile-banner [user]="user" />
      <div class="divider"></div>
      @if (userProfileForm) {
        <form
          [formGroup]="userProfileForm"
          (ngSubmit)="submit()"
          class="form-control w-full"
        >
          <div>
            <label class="label">
              <span class="label-text">Name</span>
            </label>
            <input
              type="text"
              placeholder="Please enter your name"
              [value]="user.name"
              class="input input-bordered w-full"
              formControlName="name"
            />
            @if (getErrorMessage('name')) {
              <div class="text-error text-xs p-1">
                {{ getErrorMessage('name') }}
              </div>
            }
          </div>
          <div>
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input
              type="email"
              placeholder="Please enter your email"
              [value]="user.email"
              class="input input-bordered w-full"
              formControlName="email"
            />
            @if (getErrorMessage('email')) {
              <div class="text-error text-xs p-1">
                {{ getErrorMessage('email') }}
              </div>
            }
          </div>
          <div>
            <label class="label">
              <span class="label-text">Bio</span>
            </label>
            <textarea
              class="textarea textarea-bordered h-24 w-full"
              placeholder="Please enter your bio"
              formControlName="bio"
              >{{ user.bio }}</textarea
            >
            @if (getErrorMessage('bio')) {
              <div class="text-error text-xs p-1">
                {{ getErrorMessage('bio') }}
              </div>
            }
          </div>
          <button
            [disabled]="userProfileForm.valid && userProfileForm.pristine"
            class="btn btn-primary mt-4 w-full"
            type="submit"
          >
            Update
          </button>
        </form>
      }
      @if (user.updatedAt) {
        <p class="text-center text-neutral text-xs mt-2">
          Last updated: {{ user.updatedAt.toDate() | relativeTime: 'relative' }}
        </p>
      }
    }
  }
</div>
