.markdown-content {
  @apply text-base text-gray-700 dark:text-gray-300;

  h1 {
    @apply text-4xl font-bold text-gray-900 dark:text-gray-100 mt-6 mb-3;
  }

  h2 {
    @apply text-3xl font-semibold text-gray-800 dark:text-gray-200 mt-3 mb-1.5;
  }

  h3 {
    @apply text-2xl font-semibold text-gray-700 dark:text-gray-300 mt-1.5 mb-0.5;
  }

  h4,
  h5,
  h6 {
    @apply text-xl font-semibold text-gray-600 dark:text-gray-400;
  }

  p {
    @apply my-4;
  }

  a {
    @apply text-blue-600 underline dark:text-blue-400;
    &:hover {
      @apply text-blue-800 dark:text-blue-500;
    }
  }

  blockquote {
    @apply border-l-4 border-gray-400 pl-4 my-4 italic dark:border-gray-600 dark:text-gray-400;
  }

  code {
    @apply bg-gray-100 text-gray-800 p-1 rounded dark:bg-gray-700 dark:text-gray-200;
  }

  pre {
    @apply bg-gray-100 text-gray-800 p-4 rounded mt-4 overflow-x-auto dark:bg-gray-700 dark:text-gray-200;
  }

  ul,
  ol {
    @apply list-disc list-inside my-4;
  }

  li {
    @apply my-2;
  }

  table {
    @apply w-full text-left border-collapse my-4;
    th,
    td {
      @apply border border-gray-300 p-2 dark:border-gray-600;
    }

    th {
      @apply bg-gray-200 text-gray-600 dark:bg-gray-600 dark:text-gray-200;
    }

    td {
      @apply bg-white text-gray-700 dark:bg-gray-800 dark:text-gray-300;
    }

    tr:nth-child(even) {
      @apply bg-gray-100 dark:bg-gray-700;
    }
  }

  // Styles for inline code
  code {
    @apply bg-gray-100 text-gray-800 p-1 rounded dark:bg-gray-700 dark:text-gray-200;
  }

  pre {
    @apply bg-gray-100 text-gray-800 p-4 rounded mt-4 overflow-x-auto dark:bg-gray-700 dark:text-gray-200;

    // Targeting the elements inside the pre for syntax highlighting
    code {
      @apply bg-transparent p-0;
      color: inherit;
    }

    // Overriding PrismJS syntax highlighting styles if necessary
    .token.punctuation {
      color: inherit;
    }
  }

  .token.operator,
  .token.entity,
  .token.url,
  .token.string,
  .token.variable,
  .token.keyword,
  .token.function,
  .token.regex,
  .token.important,
  .token.boolean,
  .token.number {
    color: inherit;
  }

  @media (prefers-color-scheme: dark) {
    .token.punctuation,
    .token.operator,
    .token.entity,
    .token.url,
    .token.string,
    .token.variable,
    .token.keyword,
    .token.function,
    .token.regex,
    .token.important,
    .token.boolean,
    .token.number {
      color: inherit; // Ensures consistency in dark mode
    }
  }
}
