<div class="navbar bg-base-200/50 border-b-2">
  <div class="navbar-start">
    <div [class.open]="isAccountDropDown" class="dropdown">
      <div
        (click)="toggleAccountDropdown()"
        class="btn btn-ghost lg:hidden"
        role="button"
        tabindex="0"
      >
        <svg
          class="h-5 w-5"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4 6h16M4 12h8m-8 6h16"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          />
        </svg>
      </div>
      <ul
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
        tabindex="0"
      >
        <li routerLink="/"><a>Home</a></li>
        <li routerLink="/c"><a>Courses</a></li>
        <li (click)="closeDropdown()" routerLink="/">
          <a>{{ 'navbar.home' | translate }}</a>
        </li>
        <li (click)="closeDropdown()" routerLink="/c">
          <a>{{ 'navbar.courses' | translate }}</a>
        </li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl" routerLink="/">{{ title }}</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li routerLink="/">
        <a>{{ 'navbar.home' | translate }}</a>
      </li>
      <li routerLink="/c">
        <a>{{ 'navbar.courses' | translate }}</a>
      </li>
      <li routerLink="/"><a>Home</a></li>
      <li routerLink="/c"><a>Courses</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <div
      [class.open]="isLangDropDown"
      class="dropdown dropdown-bottom dropdown-end z-40"
    >
      <div
        (click)="toggleLangDropdown()"
        class="btn m-1"
        role="button"
        tabindex="0"
      >
        <mat-icon>translate</mat-icon>
      </div>
      <ul
        class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52"
        tabindex="0"
      >
        @for (lang of languages; track lang) {
          <li>
            <a (click)="changeLang(lang)">
              <span class="badge badge-outline">{{
                lang | slice: 0 : 2 | uppercase
              }}</span>
              {{ languageNames[lang] }}
            </a>
          </li>
        }
      </ul>
    </div>
    @if (isLoggedIn$ | async) {
      <div
        class="dropdown dropdown-bottom dropdown-end z-40"
        [class.open]="isAccountDropDown"
      >
        <div
          tabindex="0"
          role="button"
          class="btn m-1"
          (click)="toggleAccountDropdown()"
        >
          <mat-icon>person</mat-icon>
        </div>
        <ul
          tabindex="0"
          class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52"
        >
          <li (click)="closeDropdown()" routerLink="/a/account">
            <a>{{ 'navbar.account' | translate }}</a>
          </li>
          <li class="text-error" (click)="logout()">
            <a>{{ 'navbar.logout' | translate }}</a>
          </li>
        </ul>
      </div>
    } @else {
      <a class="btn" routerLink="/a/login">
        <mat-icon>login</mat-icon>
      </a>
    }
  </div>
</div>
